langchain
langchain-core
langchain-community

# llm provider

langchain-groq
langchain_text_splitters
pdfminer.six
google-generativeai
# vectore store
faiss-cpu
langchain-qdrant
qdrant-client 

pyodbc
langchain_google_genai 
# web app
streamlit
python-dotenv
sqlalchemy
google-genai
faiss-cpu
numpy
